/* Supposedly this CSS stylesheet is for mobile devices.
Maybe let the website use the standard css on wider devices? */

body{
    background:   url("bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Mochiy Pop P One"; /* This font is used in the original CSS */
    font-size: smaller;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }
.iranoutofreactionnames{
    display: flex;
 text-align: center;
 font-weight: bold;
 font-size: larger;
  }

  .iranoutofreactionnames img{
    width: 35%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-bottom: 10px
  }
  .burgeon{
    display:flex;
  }
  input{
    background-color: rgba(202, 250, 255, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    border: none;
    font-size: inherit;
    width:150px;
    align-self: center;
  }
  
   .burgeon button{
    background-color: rgba(202, 250, 255, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: auto;
    padding: 2px;
    border: none;
    font-size: inherit;
    align-self: center;
    height: auto;
    width: 29px;
    height: 29px; /* i think i should get a ruler and measure if the search bar and the button are leveled */
  }